* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}
.header p {
  font-size: 18px;
}
.btn {
  width: 120px;
  padding: 10px;
  background-color: rgb(215, 215, 17);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px gray;
  cursor: pointer;
  font-weight: bold;
  color: black;
  font-size: 17px;
}
button:focus {
  outline: none;
}
.header input {
  width: 180px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1 px solid yellow;
  border: 3px solid rgb(215, 215, 17);
}

.add-form-container {
  width: 90%;
  margin: 2px auto;
  padding: 1 rem;
  padding: 1rem;
  background: #dbdbc9;
  border-radius: 4px;
}
.add-form-container form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.add-form-container form input {
  width: 200px;
  padding: 10px;
  font-size: 15px;
  border: 3px solid rgb(215, 215, 17);
  border-radius: 5px;
  width: 90%;
}
.add-form-container .post-body {
  flex-grow: 2;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  row-gap: 10px;
  column-gap: 30px;
  justify-content: center;
  width: 90%;
}

.posts::-webkit-scrollbar-track {
  background-color: none;
  width: 5px;
}

.posts::-webkit-scrollbar-button {
  background-color: red;
  width: 5px;
  border-radius: 8px;
}

.posts .list-box {
  border: 1px dashed black;
  list-style: none;
  padding: 1rem;
  transition: all ease 0.5s;
  border-radius: 10px;
}
.posts .list-box:hover {
  background-color: rgb(232, 232, 62);
}
@media only screen and (max-width: 1050px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}
footer {
  text-align: center;
  padding-bottom: 10px;
  bottom: 0%;
  left: 48%;
  margin-top: 20px;
}
.archive-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.archive-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  /* align-items: start */
}
.archive-container ul li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.archive-container ul li button {
  width: 200px;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .posts {
    grid-template-columns: 1fr;
    overflow-y: auto;
    max-height: 500px;
  }
  .archive-container ul {
    overflow-y: auto;
    height: 300px;

    font-size: 15px;
    padding: 20px;
  }
  .archive-container button {
    width: 20px;
  }
}
